html {
    background: linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
    background-attachment: fixed;
}

body {
  font: 14px "Avenir Next", Helvetica, Arial, sans-serif;
}

.container {
    width: 85%;
    max-width:640px;
    margin:0 auto;
    display: block;
}

.bubble {
    display: block;
    margin-top:44px;
    border-radius: 24px;
}

.header {
    padding:16px 16px 12px;
    font-size:16px;
    background-color: white;
    border-radius: 32px 32px 0 0;
    display: flex;
    align-items: top;
    justify-content: left;
}

.pfp-container {
    border-radius:300px;
    width:40px;
    height:40px;
    background-color: #F1F1F1;
    background-image: url('/images/profilePlaceholder.png');
    background-position:center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: block;
  }
  
.pfp {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.user-container {
    margin-left:12px;
    font-size: 14px;
}

.username {
    font-weight: 500;
}

.prompt {
    font-weight: bold;
}

.textarea-container {
    width:100%;
    margin-bottom:10px;
    background-color:rgba(255,255,255,0.4);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 0 0 24px 24px;
    position: relative;
    -webkit-appearance: none;
}

.top-left-corner {
    position:absolute;
    top:0;
    left:0;
    background: url(/images/top-left-corner.svg);
    width:24px;
    height:24px;
}

.top-right-corner {
    position:absolute;
    top:0;
    right:0;
    background: url(/images/top-right-corner.svg);
    width:24px;
    height:24px;
}

textarea {
    width:100%;
    padding:18px 24px;
    height:140px;
    box-sizing: border-box;
    font-size:20px;
    font-weight: 600;
    border:none;
    outline:none;
    background-color: transparent;
}

textarea::placeholder {
    color: rgba(0,0,0,0.25);  
}

.dice-button {
    position:absolute;
    bottom: 16px;
    right: 16px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 8px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    text-align: center;
    touch-action: manipulation;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button, .submit {
    background-color:black;
    border-radius:100px;
    width:100%;
    padding:16px 0;
    border:none;
    font-size:20px;
    font-weight: 700;
    color:white;
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 1000;
}

.pulse {
    animation: animate-shake 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate-shake {
    0%,
    10%,
    65%,
    100% {
      transform: rotate(0deg) scale(1.0);
    }
  
    30%,
    40% {
      transform: rotate(-1deg) scale(1.05);
    }
  
    35%,
    45% {
      transform: rotate(1deg) scale(1.05);
    }
}

.submit:disabled {
    text-indent: -9999px;
}

.submit:disabled::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: loading-spinner 1s ease infinite;
}

@keyframes loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.sent-container {
    text-align: center;
    padding-top:24px;
}

.home-container {
    text-align: center;
}

.logo {
    object-fit: cover;
    width:75%;
    margin-top: 40%
}

.check {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    margin-top: 20%;
}

.sent {
    font-weight: 800;
    font-size: 20px;
    color:#fff;
    margin-top: 0px;
}

.download-prompt {
    margin-top:24px;
    font-size:16px;
    font-weight: 700;
    color:white;
    margin-bottom:16px;

}

.home-subtitle {
    margin: 0 auto;
    margin-top:24px;
    font-size:24px;
    font-weight: 700;
    color: #fff;
}

.another {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size:20px;
    margin-top:24px;
    display: inline-block;
    border-bottom:2px solid white;
}

.bottom-container {
    bottom: calc(env(safe-area-inset-bottom) + 50px) ;
    position: absolute;
    width: 85%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 35px;
    padding-top: 32px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.anonymous-tooltip {
    margin-top:12px;
    font-size:14px;
    color:white;
    margin-bottom:12px;
    text-align: center;
}

.ad-container {
    text-align: center;
}

.tos-privacy {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tos {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.5);
    margin-right: 10px;
}

.privacy {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.5);
}

.priority-modal {
    background: linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
    background-attachment: fixed;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority-backdrop {
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.priority-container {
    background-color: #fff;
	padding: 30px 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 360px;
    margin: 0 20px;
    display: block;
    position:relative;
    z-index: 2;
	text-align: center;
}

.priority-container > * {
    margin-top: 30px;
    display: block;
}

.priority-container > *:first-child {
    margin-top: 0px;
}

.priority-title {
	font-weight: 700;
	font-size: 24px;
	color: #000;
	white-space: pre-wrap;
}

.priority-subtext {
	font-weight: 400;
	font-size: 16px;
	color: #868B94;
    margin-top: 40px;
}

.priority-skip {
	font-weight: 600;
	font-size: 16px;
	color: #53565B;
    text-decoration: none;
}

.apple-pay {
    margin-top: 30px;
    height: 54px;
    background: black;
    border-radius: 50px;
    overflow: hidden;
    transform: translateZ(0px);
}

.priority-gold-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.priority-gold-container .pfp-container {
    position: absolute;
    bottom: -12px;
    right: -12px;
    border: 4px solid white;
}

.priority-modal .tos-privacy {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    z-index: 2;
}